.speech
{
    color:black;
    font-size: medium;
}
.direction
{
    background-color:lightpink;
    color: black;   
    font-size:small;
}
.name {
    color:darkblue;
}
.direction:hover
{
    color:chocolate;
    background-color:blueviolet;
}
.MORTENKIIL {
    color:darkmagenta;
}
.DRSTOCKMANN {
    color:crimson;
}
.HORSTER {
    color:indigo;
}
table {
    border-color: black;
    width: 80%;
    text-align: center;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}
th {
    border: 1px solid;
    border-radius: 5px;
    border-color:brown;
    color: white;
    height: 50px;
    background-color:firebrick;
}
td {
    border: 1px solid;
    border-radius: 5px;
    border-color:crimson;
    height: 30px;
}


