.speech
{
    color:black;
    font-size: medium;
}
.direction
{
    background-color:lightpink;
    color: black;   
    font-size:small;
}
.name {
    color:darkblue;
}
.direction:hover
{
    color:chocolate;
    background-color:blueviolet;
}
.MORTENKIIL {
    color:darkmagenta;
}
.DRSTOCKMANN {
    color:crimson;
}
.HORSTER {
    color:indigo;
}
